@charset "utf-8";
/* CSS Document */
div#container{
	width:100%;
	height:950px;
	background-color:#999;
	}
	
body{
	margin:0px;
	}
div#heading{
	width:100%;
	height:10%;
	background-color:#09C;
    }
div#content_menu{
	width:30%;
	height:80%;
	background-color:#0FC;
	float:left;
	
	}
div#content_body{
	width:70%;
	height:80%;
	background-color:#069;
	float:left;}
div#footing{
	width:100%;
    heigit:10%;
	background-color:#C3C;
	clear:both;
	}
