@charset "utf-8";
/* CSS Document */
#position1{
	width:100px;
	height:100px;
	background-color:#06F;
	/*position:absolute;*/
	top:20px;
	left:10px;
	z-index:2;
	float:left;
}
#position2{
	width:100px;
	height:100px;
	background-color:#F3F;
	/*position:absolute;*/
    z-index:1;
	float:left;
	
}
#container{
	width:150px;
	height:400px;
	background-color:#999;
	}
*{
	margin:0px;
	padding:0px;
}
li{
	list-style:none;
}
#div1{
	width:550px;
	height:600px;
	margin:20px auto;
}
ul{
	width:150px;
	float:left;
}
img{
	width:150px;
	height:150px;
}

